<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LibertyMinerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <LibertyMinerGUI.Properties.Settings>
            <setting name="Wallet" serializeAs="String">
                <value>89J48o9yRxMa74nMDboijmemEg4xrqCvkP3BHtv3yzP334RY3NSHA7ejH7rqp7nDByPv3Z9haXBt4SHp4qTPnycq3kdYVSH</value>
            </setting>
            <setting name="Worker" serializeAs="String">
                <value>A good boy</value>
            </setting>
            <setting name="Coin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cpu" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PauseOnBattery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </LibertyMinerGUI.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86"/>
		</assemblyBinding>
	</runtime>
</configuration>
